@font-face {
    font-family:in-line;
    src:url('../fonts/ostrich-sans-bold.woff');
}
@font-face {
    font-family:in-line;
    font-weight:bold;
    src:url('../fonts/ostrich-sans-black.woff');
}
html {
    background-color:#aeb5c7
}
.header-title {
    padding-top:150px;
}
.header-title p {
    font-weight:300;
    color:white;
    font-size:72px;
    line-height:45px
}
.body_ {
    padding:30px 10px 30px 10px;
    background-color: #aeb5c7;
    height:1200px;
}
.parallax-container {
      height: 600px;
    }

.main_ {
    height:700px;
  
}
.hi_ {
    background-color:transparent;
    font-family:Roboto;
    font-size:14pt;
    font-weight:300;
    color:white;
    box-shadow:none;

}
#insert_D {
    font-family:Roboto;
    color: #EDDE5D;
    font-size:1.2em;
    transition-duration:0.2s;

}
#typing_D {
    color:khaki;
    font-size:50pt;
    font-weight:400;
}
.frame-o {
    height:150px;
    width:150px;
    border:10px solid #EDDE5D;
    border-style:solid;
    color: #8adbcb;
    z-index:-1;
    position:absolute;
    border-radius:40%;
    opacity:0.9;
    transition-duration:3s;
}

.side-nav .userView .background{
    background: #DAE2F8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#ab8584, #aeb3c6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,  #ab8584, #aeb3c6 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.title :first-letter{
    font-size:45pt;
    font-weight:bold;
    
}
.title {
    font-size:30pt;
    font-family:in-line;
    color:lightseagreen;
    letter-spacing:6px;
    
}
.edu_line img{

    width:100%;

    
}